<div class="card mb-3 mt-5" style="max-width: 850px; margin: auto; min-height: 250px;">
  <div class="row g-0" style="height: 100%;">
    <div class="col-md-7">
      <img [src]="product.imgSrc" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <h1 class="card-title text-center text-danger mb-4">{{product.name}}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptates quos ducimus qui ipsum sequi
          repudiandae, eligendi debitis eius blanditiis modi facere veniam ...</p>
        <p class="card-text fs-4"><strong class="text-warning">Price:</strong> ${{product.price}}</p>
        <p class="card-text fs-4"><strong class="text-warning">Quantity:</strong> {{product.quantity}}</p>
      </div>
    </div>
  </div>
</div>
