<div class="container mt-4">
  <div class="row">
    <div class="col-sm-12 col-md-5 my-2 text-light bg-dark rounded p-5">
      <p class="fs-5">Running Shoes</p>
      <h1 class="my-4">All New <span class="text-warning">Collections.</span><br> In 2024</h1>
      <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, ullam quibusdam. Fuga dignissimos
        deleniti
        accusantium amet unde labore cumque corporis sint aliquam repellat dolor, exercitationem deserunt rerum
        praesentium? Dolorem, dolore!</p>
      <div class="text-center">
        <button class="btn fs-5 btn-warning mx-5 col-sm-12 col-md-7">Explore Now</button>
        <button class="btn fs-5 text-info col-sm-12 col-md-5 mt-3">Read More</button>
      </div>
    </div>
    <div class=" col-sm-12 col-md-7  imageHome">
      <img class="object-fit-cover"
        src="https://media.istockphoto.com/id/1453810805/photo/running-shoes.jpg?s=612x612&w=0&k=20&c=kMXWxhaXOhJ8pzA_Ntis6D6QoAH4jHbV6DOkOggVIUM=">
    </div>
  </div>
</div>
