img {
  height: 215px;
}

button {
  width: 80px;
}

.discription {
  height: 75px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
